.popularTodayContainer {
  height: 300px;
  background-color: #f4ffd7;
  margin-top: 50px;
  position: relative;
}

.cat {
  background-image: url("./cat.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-size: contain;
  position: absolute;
  top: -30px;
  left: 50%;
  right: 50%;
}

.popularToday {
  font-size: 20px;
  text-align: left;
  padding: 10px 20px;
  font-weight: bold;
}

.postersContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postersContainer > span {
  margin: 0 10px;
}

.postersContainer > div {
  font-size: 13px;
  text-align: left;
}

.posterTitle {
  padding: 0 0 0 5px;
}

.poster {
  transition: all 0.5s ease-out;
}

.poster:hover {
  opacity: 0.7;
}
