.historyPageParentContainer {
  background-color: #dbf7e4;
  width: 100%;
}

.historyPageParentContainer > hr {
  width: 95%;
}

.historyPageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.aboutStudioGhibliHistoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.studioGhibliImageContainer {
  margin: 30px 20px 0;
}

.studioGhibliImageContainer > img {
  width: 400px;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 10px;
}

.AboutGhibliStudioContainer {
  font-size: 14px;
  width: 750px;
}

.aboutTitle {
  font-size: 18px;
  font-weight: 700;
}

.AboutGhibliStudioContainer > div {
  padding-top: 10px;
}

.aboutGhibliStudioMuseumContainer,
.aboutGhibliStudioFounderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyImageContainer {
  text-align: left;
}

.HistoryImage {
  height: 250px;
  margin-right: 20px;
}

.historyImageContainer > div {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 600;
}

.creater {
  font-size: 14px;
  padding: 0 0 5px;
}
